@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');
@import "node_modules/react-toastify/dist/ReactToastify.min";

$primary-background-color: #2b2b2b;
$primary-color: #fff;
$primary-font-family: 'JetBrains Mono', monospace;
$link-color: #03fc18;
$link-underline: #707070;
$brand-color: #fc03a1;
$navbar-background-color: #1b1b1b;
$input-bg-color:$brand-color;

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: $primary-background-color;
    color: $primary-color;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: $primary-font-family;
}

*, *::before, *::after {
    box-sizing: inherit;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
        color: red;
    }

    label {
        margin-top: 0.5em;
    }

    button[type=submit] {
        margin-top: 1.5em;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    > div {
        width: 100%;
    }
}

.navbar {
    padding: 0.5em;
    padding-left: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5em;
    background-color: $navbar-background-color;

    .navbar-brand, .navbar-brand a {
        color: $brand-color;
    }

    .navbar-list {
        margin-left: auto;
        margin-right: 2.5em;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: $link-color;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            min-width: 4em;
        }

        @media (max-width: 600px){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            a {
                margin-top: 0.25em;
            }
        }
    }
}

a {
    position: relative;
    text-decoration: none;
    color: $link-color;
}


a:hover::before {
    content: "";
    position: absolute;
    height: 0.1rem;
    right: 0rem;
    bottom: -0.25rem;
    left: 0rem;
    background-color: $link-underline;
}


input {
    width: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: #4b4b4b;
    color: white;
}

button {
    background-color: #6b6b6b;
    color: white;
    padding: 0.5em;
    font-size: inherit;
    font-family: inherit;
    margin-top: 0.5em;
    border: none;
    border-radius: 0.5em;
    width: 25%;
}

.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
}

input[type=checkbox]:hover ~ .checkmark {
    background-color: #ccc;
}

input[type=checkbox]:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

  /* Style the checkmark/indicator */
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=text], input[type=password] {
    padding: 10px;
    margin: 10px 0; // add top and bottom margin
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.border-customized-input {
    border: 2px solid $input-bg-color;
}

.border-removed-input {
    border: 0;
}

.border-bottom-input {
    border: 0; // remove default border
    border-bottom: 2px solid $input-bg-color; // add only bottom border
}

